* { /*asterisk - select all of the elements available on our HTML and 
apply the css rule on those elements or universal selector*/
font-family: 'Roboto', sans-serif;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

img {
  height: 250px;
  width: 250px;
}

/*.container-fluid {
  /*We are selecting an elements that has a class attribute and its value is container*/
/*background-color: pink;
}*/

/*for id we use #plus name*/ /*will select the element that has an ID Attribute and a value called landing*/
#landing {
  height: 80vh; /*viewport height or height of screen - will take up 80 of the screen height*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*center the content vertically*/
} 

#gallery {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 75vh;
  /*center the content vertically*/
}

ul {
  list-style: none;
  padding: 0; /*removes the spaces*/
}

h2 {
  color: #007bff;
}

.tools {
  padding: 25px; /*spaces inside our elements*/
  height: 250px;
  border: 5px solid #f2f2f2; /*borderlines*/
  width: 75%; 
  margin: 20px;
  color: white;
}